
<div class="card-banner" data-product-id="{{ id }}" data-type-component="product-card-banner" data-wait-init>
	{{#if priceDiff}}
		<span class="card-banner__discount">-{{ priceDiff }}</span>
	{{/if}}

	<div class="card-banner__image">
		<picture>
			<source media="(min-width: 701px)" srcset="{{ imgSrc }}" />
			<img
				alt="{{#if imgAlt}}{{ imgAlt }}{{/if}}"
				loading="{{ imgLoading }}"
			/>
		</picture>
	</div>

	<div class="card-banner__info">
		<div class="card-banner__info-price">
			<span class="card-banner__info-cost">{{ currentPrice }}</span>

			{{#if prevPrice}}
				<span class="card-banner__info-cost__old">{{ prevPrice }}</span>
			{{/if}}

			{{#if countBonuses}}
				<div class="card-banner__info-bonus">
					{{> 'snippets/icon-card-banner-bonus'}}
					<span class="card-banner__info-bonus__caption">{{ countBonuses }}</span>
				</div>
			{{/if}}
		</div>

		<a class="card-banner__info-caption" href="{{ href }}">{{ name }}</a>
	</div>

	<div class="card-banner__button-wrapper">
		<button
			class="
				card-banner__button
				card-banner__buy-button
				{{#if inBasket}}
					card-banner__button--hidden
				{{/if}}
			"
			type="button"
			{{#if inBasket}}
				tabindex="-1"
				disabled
			{{/if}}
		>
			+
		</button>
		<button
			class="
				card-banner__button
				card-banner__remove-button
				{{#unless inBasket}}
					card-banner__button--hidden
				{{/unless}}
			"
			type="button"
			{{#unless inBasket}}
				tabindex="-1"
				disabled
			{{/unless}}
		>
			-
		</button>
	</div>
</div>
